h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Courier New', Courier, monospace;
}
body {
    font-family: Arial, sans-serif;
    background-color: #b10000;
    margin: 0;
    padding: 20px;
}
btn{
    background-color: #21323e;
    color: rgb(109, 33, 195);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}
.btn:hover {
    background-color: #555;
    color: white;
    transform: scale(1.05);
}
.btn2{
    padding-bottom: 0%;
    padding-top: 0%;
    color: aqua;
    background-color: aqua;

}